@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: uppercase;
 }
 
 .head {
    position: relative;
    margin: 10px;
    height: 120px;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    top: 67%;
}
.navbar a{
    color: gray;
}
.navbar a:hover{
    color:#cec397 ;
    font-weight: bold; 
}

#logo {
    position: absolute;
    left: 45%;
    top: 12%;
}
#logo img{
    width: 20%;
}
#glow{
    background-color: black;
    text-align: center;
    color: aliceblue;
    height: 49px;
    line-height: 49px;
}
#menu-btn{
    display: none;
    position: absolute;
    left: 95%;
    top: 67%;
}
.content img{
    width: 100%;
}

.parg{
    
    padding: 40px;
}
.parg p{
    font-size: 28px;
    margin: 15px;
}
#first-prg{
    font-size: 45px;
    font-weight: bold;
}
#last{
    text-align: center;
}
.links{
    position: relative;
    height: 149px;
}
 .links h3{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.logos{
    position: absolute;
    left: 38%;
    width: 400px;
}

.logos a img{
    max-width: 10%;
    margin: 16px;
}
.stores-logo{
    width: 50%;
    position: absolute;
    left: 42%;
    top: 94px;
}

.stores-logo a img{
    width: 20%;
}
#appstore{
    width: 18%;
}
hr {
    width: 90%;
    margin: 2% 5%;
    border-top: 1px solid gray;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
.footer-card{
    position: relative;
}
footer{
    text-align: center;
    padding: 63px;
    
}
footer p , footer a{
    margin: 12px;
    text-transform: capitalize;
   
}
footer strong{
    font-weight: bolder;
}


/* Media Queries */


@media only screen and (max-width:991px) {
    html{
        font-size: 20px;
        
    }
    #logo img{
        width: 27%;
    }
    
}
@media only screen and (max-width:600px) {
    #menu-btn{
        display: inline-block;
        position: absolute;
        top: 29%;
        left: 78%;
        width: 30px;
        height: 30px;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
     }  
     #logo{
        position: relative;
        left: 10%;
    } 
    
    .navbar{
        position: absolute;
        top: 72%;
        left: 42%;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
        background-color: aliceblue;
        line-height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .navbar a:hover{
        width: 100%;
        text-align: center;
        background-color: black;
        
    }
    .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     }
     #glow{
         width: 600px;
     }
     .content img{
        width: 600px;
    }
    .logos{
        position: absolute;
        left: 21%;
    }
    .logos a img {
        max-width: 8%;
    }
    hr {
        width: 90%;
        margin: 2% 5%;
        border-top: 1px solid gray;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    footer{
        width: 600px;
    }

    
}

@media screen and(max-width:400px) {
   
   
}
